<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<div class="animate__animated animate__fadeInUp" *ngIf="!isLoading">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Payroll</a></li>
      <li class="breadcrumb-item active" aria-current="page">Payroll Generation</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h6>Payroll Generation</h6>
              </div>
              <div class="col-md-6">
                <ul class="nav justify-content-end">
                  <button class="btn btn-primary btn-icon-text" [routerLink]="['/layout/payroll/payroll-generation-detail']">
                    <i data-feather="edit" appFeatherIcon class="btn-icon-prepend"></i> Add payroll
                  </button>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table id="dataTableExample" class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th>Payroll Code</th>
                  <th>Payroll Type</th>
                  <th>Timekeeping Code</th>
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Count</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of table; let i = index">
                  <td>{{x.payroll_header_code}}</td>
                  <td>{{x.payroll_type}}</td>
                  <td>{{x.timekeeping_header_code}}</td>
                  <td>{{x.display_name}}</td>
                  <td>{{x.date_created}}</td>
                  <td>{{x.tk_count}}</td>
                  <td>
                    <button type="button" title="Edit" (click)="viewPayroll(x.encrypted_payroll_header_id)"
                      class="btn btn-sm btn-primary btn-icon">
                      <i class="feather icon-edit-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>