<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<div class="animate__animated animate__fadeInUp" *ngIf="!isLoading">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Payroll</a></li>
      <li class="breadcrumb-item active" aria-current="page">Loan</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h6>Loan</h6>
              </div>
              <div class="col-md-6">
                <ul class="nav justify-content-end">
                  <button class="btn btn-primary btn-icon-text" [routerLink]="['/layout/payroll/loans-detail']">
                    <i data-feather="edit" appFeatherIcon class="btn-icon-prepend"></i> Add Loan
                  </button>
                </ul>
              </div>
            </div>
          </div>
          <hr>
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
              <thead>
                <tr>
                  <th>Loan Code</th>
                  <th>Employee Name</th>
                  <th>Loan Name</th>
                  <th>Loan Type</th>
                  <th>Amount</th>
                  <th>Active</th>
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let x of table; let i = index">
                  <td>{{x.loan_code}}</td>
                  <td>{{x.display_name}}</td>
                  <td>{{x.loan_name}}</td>
                  <td>{{x.loan_type}}</td>
                  <td>{{x.total_amount}}</td>
                  <td>{{x.status}}</td>
                  <td>{{x.created_by_name}}</td>
                  <td>{{x.date_created | date: 'MM/dd/yyyy' }}</td>
                  <td>
                    <button type="button" title="Edit" (click)="viewLoan(x.companyID)"
                      class="btn btn-sm btn-primary btn-icon">
                      <i class="feather icon-edit-2"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>