<!-- <div class="card-header">
  <h6>Personal Information</h6>
</div>
<form [formGroup]="employeeForm">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Salutation</label>
          <input type="text" formControlName="selectedSalutation" class="form-control" placeholder="Salutation">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Display Name</label>
          <input type="text" formControlName="displayName" class="form-control" placeholder="Display Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" formControlName="firstName" class="form-control" placeholder="First Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Middle Name</label>
          <input type="text" formControlName="middleName" class="form-control" placeholder="Middle Name">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Last Name</label>
          <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Suffix</label>
          <input type="text" formControlName="selectedSuffix" class="form-control" placeholder="Suffix">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Nickname</label>
          <input type="text" formControlName="nickname" class="form-control" placeholder="Nickname">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Gender</label>
          <input type="text" formControlName="selectedGender" class="form-control" placeholder="Nickname">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Nationality</label>
          <input type="text" formControlName="selectedNationality" class="form-control" placeholder="Nickname">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Birthday</label>
          <input type="text" formControlName="selectedDate" class="form-control" placeholder="Nickname">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Birthplace</label>
          <input formControlName="birthplace" type="text" class="form-control" placeholder="Birthplace">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Civil Status</label>
          <input formControlName="selectedCivilStatus" type="text" class="form-control" placeholder="Civil Status">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Height</label>
          <input type="text" formControlName="height" class="form-control" placeholder="Height">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Weight</label>
          <input type="text" formControlName="weight" class="form-control" placeholder="Weight">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Blood Type</label>
          <input type="text" formControlName="selectedBloodType" class="form-control" placeholder="Blood Type">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Religion</label>
          <input type="text" formControlName="selectedReligion" class="form-control" placeholder="Religion">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h6>Contact Information</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Mobile</label>
          <input type="text" formControlName="mobile" class="form-control" placeholder="Mobile">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" formControlName="phone" class="form-control" placeholder="Phone">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Office</label>
          <input type="text" formControlName="office" class="form-control" placeholder="Office">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Personal Email</label>
          <input type="text" formControlName="personalemail" class="form-control" placeholder="Personal Email">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Company Email</label>
          <input type="text" formControlName="companyemail" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Alternate Number</label>
          <input type="text" formControlName="alternatenumber" class="form-control" placeholder="Alternate Number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Present Address</label>
          <textarea class="form-control" formControlName="presentaddress" rows="5"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Permanent Address</label>
          <textarea class="form-control" formControlName="permamentaddress" rows="5"></textarea>
        </div>
      </div>
    </div>
  </div>
</form> -->