<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<div class="animate__animated animate__fadeInUp" *ngIf="!isLoading">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Timekeeping</a></li>
      <li class="breadcrumb-item active" aria-current="page">Attendance Log</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h6>Attendance Log</h6>
              </div>
            </div>
            <hr>
          </div>
          <form [formGroup]="attendanceForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Employee</label>
                  <ng-select [items]="employeeList" name="Employee" bindLabel="display_name" bindValue="bio_id"
                    placeholder="Select Employee" formControlName="selectedEmployee">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Date From</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="dateFrom"
                      (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-light btn-icon calendar" type="button" (click)="d.toggle()">
                        <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label class="control-label">Date To</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="dateTo"
                      (click)="d2.toggle()" ngbDatepicker #d2="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-outline-light btn-icon calendar" type="button" (click)="d2.toggle()">
                        <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button class="btn btn-primary" *ngIf="isSearch" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
                <button type="button" *ngIf="!isSearch" class="btn btn-primary btn-icon-text" (click)="search()">
                  <i data-feather="search" appFeatherIcon class="btn-icon-prepend"></i>
                  Search
                </button> &nbsp;
                <button type="button" class="btn btn-primary btn-icon-text" (click)="openUploadModal()">
                  <i data-feather="upload-cloud" appFeatherIcon class="btn-icon-prepend"></i>
                  Upload
                </button> &nbsp;
                <button type="button" class="btn btn-primary btn-icon-text ">
                  <i data-feather="download-cloud" appFeatherIcon class="btn-icon-prepend"></i>
                  Download
                </button>

              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
                  <thead>
                    <tr>
                      <th>Employee Code</th>
                      <th>Employee Name</th>
                      <th>Logs</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of attendanceList; let i = index">
                      <td>{{x.employeeCode}}</td>
                      <td>{{x.displayName}}</td>
                      <td>{{x.logs}}</td>
                      <td>{{x.type}}</td>
                      <td>
                        <button type="button" title="Edit" (click)="openLogModal(attendanceModal, i)"
                          class="btn btn-sm btn-primary btn-icon">
                          <i class="feather icon-edit-2"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #attendanceModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Attendance Log</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label">Logs</label>
            <div class="input-group">
              <ng-template #popDate>
                <ngb-datepicker [(ngModel)]="attendanceDate" (ngModelChange)="setDateTime()"></ngb-datepicker>
                <timepicker [(ngModel)]="attendanceTime" (ngModelChange)="setDateTime()" [showMeridian]="true">
                </timepicker>
              </ng-template>
              <input class="form-control" [(ngModel)]="attendandeDateTime" [popover]="popDate" [outsideClick]="true"
                name="dp" value="{{attendandeDateTime}}">
              <div class="input-group-prepend">
                <button class="btn btn-outline-light btn-icon calendar" type="button">
                  <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Type</label>
            <ng-select [items]="type" name="Employee" bindLabel="description" bindValue="id" placeholder="Select Type"
              [(ngModel)]="selectedType">
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
      <button type="button" class="btn btn-danger" (click)="deleteAttendance()">Delete Logs</button>
      <button type="button" class="btn btn-primary" (click)="submitAttendance()">Save changes</button>
    </div>
  </ng-template>

  <ng-template #uploadModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Upload Log</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>File upload</label>
            <div class="row">
              <div class="col-md-6">
                <app-file-upload (onUploadFinished)="uploadFinished($event)"></app-file-upload>
              </div>
              <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-icon-text" (click)="exportTemplate()">
                  <i data-feather="download-cloud" appFeatherIcon class="btn-icon-prepend"></i>
                  Download Template
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table id="modalTable" class="table">
              <thead>
                <tr>
                  <th>Employee Code</th>
                  <th>Employee Name</th>
                  <th>Logs</th>
                  <th>Type</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Close</button>
      <button type="button" class="btn btn-primary" (click)="submitUpload()">Save changes</button>
    </div>
  </ng-template>