<div *ngIf="isLoading" class="spinner-wrapper">
  <div class="spinner">Loading...</div>
</div>
<div class="animate__animated animate__fadeInUp" *ngIf="!isLoading">
  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink=".">Timekeeping</a></li>
      <li class="breadcrumb-item active" aria-current="page">Employee Attendance</li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h6>Employee Attendance</h6>
              </div>
            </div>
            <hr>
          </div>
          <form [formGroup]="attendanceForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Date From</label>
                <div class="input-group">
                  <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="dateFrom"
                    value="dateFrom" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-light btn-icon calendar" type="button" (click)="d.toggle()">
                      <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label class="control-label">Date To</label>
                <div class="input-group">
                  <input class="form-control" placeholder="mm/dd/yyyy" name="dp" formControlName="dateTo"
                    (click)="dt.toggle()" ngbDatepicker #dt="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-light btn-icon calendar" type="button" (click)="dt.toggle()">
                      <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="control-label">Employee</label>
                <ng-select [items]="employeeList" name="Employee" bindLabel="display_name" bindValue="encrypt_employee_id"
                  placeholder="Select Employee" formControlName="selectedEmployee">
                </ng-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label">Missing Logs Only?</label>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" formControlName="missingLogs" id="customSwitch1">
                  <label class="custom-control-label" for="customSwitch1"></label>
                </div>
              </div>
            </div>
          </div>
        </form>
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <button class="btn btn-primary" *ngIf="isSearch" type="button" disabled>
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>
                <button type="button" *ngIf="!isSearch" class="btn btn-primary btn-icon-text" (click)="search()">
                  <i data-feather="search" appFeatherIcon class="btn-icon-prepend"></i>
                  Search
                </button>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="dataTableExample" class="table">
                  <thead>
                    <tr>
                      <th>Employee Code</th>
                      <th>Employee Name</th>
                      <th>Date</th>
                      <th>Schedule In</th>
                      <th>Schedule Out</th>
                      <th>Time In</th>
                      <th>Time Out</th>
                      <th>Remarks</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let x of attendanceList; let i = index">
                      <td>{{x.employee_code}}</td>
                      <td>{{x.display_name}}</td>
                      <td>{{x.date | date: 'MM/dd/yyyy'}}</td>
                      <td>{{x.sked_in}}</td>
                      <td>{{x.sked_out}}</td>
                      <td>{{x.time_in}}</td>
                      <td>{{x.time_out}}</td>
                      <td>{{x.remarks}}</td>
                      <td >
                        <button *ngIf="!x.is_add" type="button" title="Edit" (click)="openLogModal(attendanceModal, i)"
                        class="btn btn-sm btn-primary btn-icon">
                        <i class="feather icon-edit-2"></i>
                      </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #attendanceModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Attendance Log</h5>
      <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Schedule In</label>
              <input type="text" formControlName="scheduleIn" readonly class="form-control" placeholder="Overtime Code">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Schedule Out</label>
              <input type="text" formControlName="scheduleOut" readonly class="form-control" placeholder="Balance">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Time In</label>
              <div class="input-group">
                <ng-template #popDateFrom>
                  <ngb-datepicker [(ngModel)]="dfPopDate" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="setDateFrom()"></ngb-datepicker>
                  <timepicker [(ngModel)]="dfPopTime" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="setDateFrom()" [showMeridian]="true"></timepicker>
                </ng-template>
                <input class="form-control" formControlName="timeIn" [popover]="popDateFrom" [outsideClick]="true"
                  name="dp">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-light btn-icon calendar" type="button">
                    <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Time Out</label>
              <div class="input-group">
                <ng-template #popDateTo>
                  <ngb-datepicker [(ngModel)]="dtPopDate" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="setDateTo()"></ngb-datepicker>
                  <timepicker [(ngModel)]="dtPopTime" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="setDateTo()" [showMeridian]="true"></timepicker>
                </ng-template>
                <input class="form-control" formControlName="timeOut" [popover]="popDateTo" [outsideClick]="true"
                  name="dp">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-light btn-icon calendar" type="button">
                    <i data-feather="calendar" appFeatherIcon class="text-secondary"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">Close</button>
      <button type="button" class="btn btn-primary" (click)="updateAttendance()">Save changes</button>
    </div>
  </ng-template>