<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0" >
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo d-block mb-2">Durust<span>HR</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Change your credentials.</h5>
            <form  [formGroup]="verifyForm" class="forms-sample">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username" autocomplete="Username" placeholder="Username">
              </div>
              <p class="text-danger mt-1" *ngIf="errUsername">Username is needed!</p>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <div class="input-group">
                  <input type="{{type}}" class="form-control" formControlName="password" autocomplete="current-password" placeholder="Password">
                  <div class="input-group-append">
                    <button class="btn btn-outline-light btn-icon calendar" type="button"
                      (click)="toggle()">
                      <i data-feather="eye" appFeatherIcon class="text-secondary"></i>
                    </button>
                  </div>
                </div>
                <p class="text-danger mt-1" *ngIf="errPassword">Password is needed!</p>
                <p class="text-danger mt-1">{{strError}}</p>
              </div>
              <div class="mt-3">
                <button class="btn btn-light mr-2" type="button" (click)="reLogin()">Back</button>
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" (click)="onVerify()">Save Changes</button>               
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>